<div ng-show="tab.isSet(1)" class="cardsdiv">
	<div class="filters">
		<div class="filter">
			<input ng-model="cards.filtersettings.search.name_norm" type="text" placeholder="Search by title or text">
		</div>
		<div class="filter">
			<traits></traits>
		</div>
		<div class="filter filter--button">
			<button type="button" class="button button--red" ng-click="cards.resetSearch();">Reset</button>
		</div>
	</div>

	<div class="filters filters--spread">
		<div class="filter">
			<button title="Heroes" class="filter-button" ng-class="{selected: cards.filtersettings.type['1hero']}" ng-click="cards.toggleType('1hero',$event)"><ng-include src="'img/1hero.svg'"></ng-include></button>
			<button title="Allies" class="filter-button" ng-class="{selected: cards.filtersettings.type['2ally']}" ng-click="cards.toggleType('2ally',$event)"><ng-include src="'img/2ally.svg'"></ng-include></button>
			<button title="Attachments" class="filter-button" ng-class="{selected: cards.filtersettings.type['3attachment']}" ng-click="cards.toggleType('3attachment',$event)"><ng-include src="'img/3attachment.svg'"></ng-include></button>
			<button title="Events" class="filter-button" ng-class="{selected: cards.filtersettings.type['4event']}" ng-click="cards.toggleType('4event',$event)"><ng-include src="'img/4event.svg'"></ng-include></button>
			<button title="Side Quests" class="filter-button" ng-class="{selected: cards.filtersettings.type['5quest']}" ng-click="cards.toggleType('5quest',$event)"><ng-include src="'img/5quest.svg'"></ng-include></button>
		</div>
		<div class="filter">
			<button title="Leadership" class="filter-button" ng-class="{selected: cards.filtersettings.spheres['1leadership']}" ng-click="cards.toggleSphere('1leadership',$event)"><img src="img/1leadership.png"/></button>
			<button title="Tactics" class="filter-button" ng-class="{selected: cards.filtersettings.spheres['2tactics']}" ng-click="cards.toggleSphere('2tactics',$event)"><img src="img/2tactics.png"/></button>
			<button title="Spirit" class="filter-button" ng-class="{selected: cards.filtersettings.spheres['3spirit']}" ng-click="cards.toggleSphere('3spirit',$event)"><img src="img/3spirit.png"/></button>
			<button title="Lore" class="filter-button" ng-class="{selected: cards.filtersettings.spheres['4lore']}" ng-click="cards.toggleSphere('4lore',$event)"><img src="img/4lore.png"/></button>
			<button title="Neutral" class="filter-button" ng-class="{selected: cards.filtersettings.spheres['5neutral']}" ng-click="cards.toggleSphere('5neutral',$event)"><img src="img/5neutral.png"/></button>
			<button title="Baggins" class="filter-button" ng-class="{selected: cards.filtersettings.spheres['6baggins']}" ng-click="cards.toggleSphere('6baggins',$event)"><img src="img/6baggins.png"/></button>
			<button title="Fellowship" class="filter-button" ng-class="{selected: cards.filtersettings.spheres['7fellowship']}" ng-click="cards.toggleSphere('7fellowship',$event)"><img src="img/7fellowship.png"/></button>
		</div>
	</div>
	<table class="cardList">
		<thead>
			<tr>
				<th classs="cardList-col-count"></th>
				<th class="cardList-col-name"><a href ng-click="cards.orderby('name_norm')">Name</a></th>
				<th><a href ng-click="cards.orderby(['sphere','name_norm'])">Sphere</a></th>
				<th class="cardList-col-cost"><a href ng-click="cards.orderby(['cost','name_norm'])">Cost</a></th>
				<th class="cardList-col-type"><a href ng-click="cards.orderby(['type','name_norm'])">Type</a></th>
				<th class="cardList-col-attribute"><a href ng-click="cards.orderby(['-willpower','name_norm'])"><img title="Willpower" src="img/willpower.gif"/></a></th>
				<th class="cardList-col-attribute"><a href ng-click="cards.orderby(['-strength','name_norm'])"><img title="Attack" src="img/strength.gif"/></a></th>
				<th class="cardList-col-attribute"><a href ng-click="cards.orderby(['-defense','name_norm'])"><img title="Defense" src="img/defense.gif"/></a></th>
				<th class="cardList-col-attribute"><a href ng-click="cards.orderby(['-hitpoints','name_norm'])"><img title="Hit Points" src="img/hitpoints.png" /></a></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="card in cards.allcards | cardfilter:cards | filter:cards.filtersettings.search | orderBy:cards.order" class="cardrow" ng-mouseover="cards.changepreview(card)">
				<td class="cardList-col-count">
					<div class="buttonGroup">
						<button class="buttonGroup-button" ng-class="{selected: deck.quantity(card)==0}" ng-click="deck.change(card,0)">0</button>
						<button class="buttonGroup-button" ng-class="{selected: deck.quantity(card)==1}" ng-click="deck.change(card,1)">1</button>
						<button class="buttonGroup-button" ng-class="{selected: deck.quantity(card)==2}" ng-click="deck.change(card,2)" ng-if="card.type!='1hero' && !card.restrict">2</button>
						<button class="buttonGroup-button" ng-class="{selected: deck.quantity(card)==3}" ng-click="deck.change(card,3)" ng-if="card.type!='1hero' && !card.restrict">3</button>
					</div>
					<img class="preload"  ng-src="{{cards.image.loaded && card.img || ''}}" /> <!-- This doesn't preload images if there's an image we want to load right now -->
				</td>
				<td class="cardList-col-name">
					<div class="cardList-title" ng-class="(card.unique) ? 'is-unique' : ''">{{card.name}}</div>
				</td>
				<td class="cardList-col-sphere"><img src="img/{{card.sphere}}.png"/></td>
				<td class="cardList-col-cost">{{card.cost}}</td>
				<td class="cardList-col-type"><ng-include src="'img/' + card.type + '.svg'"></ng-include></td>
				<td class="cardList-col-attribute">{{card.willpower}}</td>
				<td class="cardList-col-attribute">{{card.strength}}</td>
				<td class="cardList-col-attribute">{{card.defense}}</td>
				<td class="cardList-col-attribute">{{card.hitpoints}}</td>
			</tr>
		</tbody>
	</table>
</div>
