<!DOCTYPE html>
<html lang="en" ng-app="deckbuilder">
<head>
	<title>The Rivendell Councilroom</title>
	<!-- <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" /> -->
	<!-- <link href="style.css" rel="stylesheet" media="screen" /> -->
	<link href="/css/main.css" rel="stylesheet" />
	<script src="jquery.js"></script>
	<!-- <script src="bootstrap/js/bootstrap.min.js"></script> -->
	<script src="angular.min.js"></script>
	<script src="http://www.parsecdn.com/js/parse-1.4.2.min.js"></script>
	<script src="ngStorage.min.js"></script>
	<script src="lotrdb.js"></script>
	<script src="lz-string.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Need to look into why this was done and not the above
	 <meta name="viewport" content="width=device-width, initial-scale=0.3, maximum-scale=2, user-scalable=yes"> -->
	<!-- Todo, enhance these -->
	<link rel="shortcut icon" href="img/favicon.ico"> 
	<link rel="apple-itouch-icon" href="img/favicon.png"> 
</head>
<body>
	<header class="header"></header>
	<main class="main">
		<deck></deck>
		<cardpreview></cardpreview>
		<div ng-controller="tabController as tab" class="cards">
			<section class="cards-nav">
				<ul class="navList navList--small navList--alt">
					<li>
						<a href ng-click="tab.setTab(1)" ng-class="{activetab: tab.isSet(1)}">Cards</a>
					</li>
					<li>
						<a href ng-click="tab.setTab(2)" ng-class="{activetab: tab.isSet(2)}">Packs</a>
					</li>
					<li>
						<a href ng-click="tab.setTab(3)" ng-class="{activetab: tab.isSet(3)}">Decks</a>
					</li>
					<li>
						<a href ng-click="tab.setTab(4)" ng-class="{activetab: tab.isSet(4)}">Stats</a>
					</li>
					<!-- <li>
						<a href ng-click="tab.setTab(5)" ng-class="{activetab: tab.isSet(5)}">Help</a>
					</li>
					<li>
						<a href ng-click="tab.setTab(6)" ng-class="{activetab: tab.isSet(6)}">Updates</a>
					</li> -->
				</ul>
			</section>
			<packs></packs>
			<cards></cards>
			<mydecks></mydecks>
			<stats></stats>
			<about></about>
			<news></news>
		</div>

	</div>

	<!--  <myfooter></myfooter> -->
</body>
</html>
